<div id="data">
  <img src="assets/images/person.png">
  <div>
      <h1>Username</h1>
      <div id="wallet">
          <h2>Wallet: </h2>
          <h2 id="money">600</h2>
          <h2>EGP</h2>
      </div>
      <button id="addMoney">Add Cash to my Wallet</button>
  </div>

</div>

<div id="wishlist">

  <section id="firstproduct" class="section-p1">
      <h1>Wishlist</h1>
      <div class="pro-container">
          <div class="pro" onclick="window.location.routerLink='prodpage.html';">
              <img src="assets/images/f6.jpg" alt="">
              <div class="des">
                  <span>Zara</span>
                  <h5>Tshirt</h5>
                  <h4>200 EGP</h4>
              </div>
          </div>
          <div class="pro" >
              <img src="assets/images/f8.jpg" alt="">
              <div class="des">
                  <span>Zara</span>
                  <h5>Blouse</h5>

                  <h4>300 EGP</h4>
              </div>
          </div>
          <div class="pro" >
              <img src="assets/images/blouse.webp" alt="">
              <div class="des">
                  <span>Zara</span>
                  <h5>Blouse</h5>

                  <h4>250 EGP</h4>
              </div>
          </div>

          <div class="pro" >
              <img src="assets/images/f4.jpg" alt="">
              <div class="des">
                  <span>Zara</span>
                  <h5>Tshirt</h5>
                  <h4>100 EGP</h4>
              </div>
          </div>
      </div>
  </section>
</div>

<div id="track">
  <section class="firstproduct section-p1">
      <h1>Track your orders</h1>
      <div class="pro-container">
          <div class="pro" onclick="window.location.routerLink='prodpage.html';">
              <img src="assets/images/f6.jpg" alt="">
              <div class="des">
                  <span>Zara</span>
                  <h5>Tshirt</h5>
                  <h4>200 EGP</h4>
                  <h5 id ="status">Status: On the way</h5>
              </div>
          </div>
      </div>
  </section>
</div>

<div id="myProducts">
  <section class="firstproduct section-p1">
      <h1>My Products</h1>
      <div class="pro-container">
          <div class="pro">
              <img src="assets/images/f6.jpg" alt="">
              <div class="des">
                  <span>Zara</span>
                  <h5>Tshirt</h5>
                  <h4>200 EGP</h4>
                  <h5>Remaining Amount: 10</h5>
              </div>
          </div>
          <div class="pro" onclick="window.location.routerLink='addProduct.html';">
              <img src="assets/images/add.png" alt="">
              <div class="des">
                  <h3>Sell new Product</h3>
              </div>
          </div>
      </div>
  </section>
</div>
