<section id="shop-header">

  <h2 class="text">The best deals are here </h2>

  <p class="text">Save more with coupons and get up to 70% off !</p>





</section>


<section id="firstproduct" class="section-p1">

  <div class="pro-container">
      <div class="pro" onclick="window.location.routerLink='prodpage.html';">
          <img src="assets/images/f6.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>200 EGP</h4>
          </div>
      </div>
      <div class="pro" >
          <img src="assets/images/f8.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Blouse</h5>

           <h4>300 EGP</h4>
          </div>
      </div>
       <div class="pro" >
          <img src="assets/images/blouse.webp" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Blouse</h5>

           <h4>250 EGP</h4>
          </div>
      </div>

      <div class="pro" >
          <img src="assets/images/f4.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>
           <h4>100 EGP</h4>
          </div>
      </div>

      <div class="pro">
          <img src="assets/images/f5.jpg" alt="">
          <div class="des">
              <span>Zara</span>
              <h5>Tshirt</h5>
              <h4>200 EGP</h4>
          </div>
      </div>

      <div class="pro">
          <img src="assets/images/f3.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>200 EGP</h4>
          </div>
      </div>

      <div class="pro">
          <img src="assets/images/f1.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>200 EGP</h4>
          </div>
      </div>
      <div class="pro">
          <img src="assets/images/f4.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>200 EGP</h4>
          </div>
      </div>
      <div class="pro">
          <img src="assets/images/cats.webp" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>200 EGP</h4>
          </div>
      </div>
      <div class="pro">
          <img src="assets/images/n1.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>200 EGP</h4>
          </div>
      </div>
      <div class="pro">
          <img src="assets/images/n2.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>200 EGP</h4>
          </div>
      </div>
      <div class="pro">
          <img src="assets/images/n3.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>200 EGP</h4>
          </div>
      </div>
      <div class="pro">
          <img src="assets/images/n5.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>200 EGP</h4>
          </div>
      </div>

      <div class="pro">
          <img src="assets/images/star+tshirt+orsnge.webp" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>200 EGP</h4>
          </div>
      </div>

      <div class="pro">
          <img src="assets/images/Simply-Southern-Stars-Turquoise-Long-Sleeve-Tshirt_LSSTARSSURFS_01.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>200 EGP</h4>
          </div>
      </div>

      <div class="pro">
          <img src="assets/images/A1vJUKBjc2L._CLa_2140,2000_7158J1qVAoL.png_0,0,2140,2000+0.0,0.0,2140.0,2000.0_AC_UL1500_.jfif" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>200 EGP</h4>
          </div>
      </div>
  </div>
</section>

<section id="pagenum" class="section-p1">
  <a routerLink="#">1</a>
  <a routerLink="#">2</a>
   <a routerLink="#"> > </a>
</section>
