<hr color="black " width="100%" size="25px">

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="assets/images/h-t.jpg" alt="">
        <h4>Contact</h4>
        <p><strong>Address: </strong> 236 First setllement New Cairo</p>
        <p><strong>Phone:</strong>01091784523</p>
        <p><strong>Hours:</strong> 9:00 Am - 10:00 Pm , Sun - Sat</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a routerLink="#">About us</a>
        <a routerLink="#">Delivery Information</a>
        <a routerLink="#">Privacy Policy</a>
        <a routerLink="#">Terms & Conditions</a>
        <a routerLink="#">Contact Us</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a routerLink="#">Sign In</a>
        <a routerLink="#">View Cart</a>
        <a routerLink="#">My Wishlist</a>
        <a routerLink="#">Track My Order</a>
        <a routerLink="#">Help</a>
    </div>

    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="assets/images/p1.jpg" alt="">
            <img src="assets/images/p2.jpg" alt="">
        </div>
        <p>Secured Payment Gateways </p>
        <img src="assets/images/p3.png" alt="">
    </div>

    <div class="copyright">
        <p> All Copy Rights return to HT Company any unauthorized use of our products will be faced by serious legal charges</p>
    </div>
</footer>
