*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}

#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgb(0,0,0,0.06);
    position:sticky;   /* used to make navbar in the top always appearing */
    top:0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none ;      /* to remove underline  from navigation bar */
    font-size: 16px;
    color:black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;

}

#navbar li a.active::after,
#navbar li a:hover::after
{
    content: " ";
    width: 30%;
    height: 2px;
    background-color:#088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#logo
{
    height: 80px;
    width: 120px;
    padding: 0 20px;
    margin: 10px 0;
    border-radius: 50%;
}

footer{
display: flex;

flex-wrap: wrap;
justify-content: space-between;

}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:20px;

}

footer h4
{
    font-size: 14px;
    padding-bottom: 20px;


}
footer p
{
    font-size: 12px;
    padding-bottom: 20px;
    

}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin: 0 0 8px 0;

}

footer .install .row img
{
    border: 1px solid black;


}

footer .install img{
    margin: 10px 0 15px 0;  /* to make spaces cool good in footer section in pictures of visa */
}