body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    position: relative;
background-image: url(../images/Background/bg1.png);
}


header {
    height: 100vh;
}
nav {
    background:     #4B0082;
    height: 4rem;
    z-index: 1;
    box-shadow: 5px 5px 15px 0 rgb(31 31 31 / 7%);
}
.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5;
    transition: color 0.3s;
    color:   #b0b0b0 !important;
}
.nav-link:hover {
    color: #DDA0DD !important;
}
.nav-link.active {
    color: #f25454 !important;
}
.nav-icon-con {
    display: flex;
    align-items: center;
}
.nav-icon {
    color: #282828;
    transition: color 0.5s;
}
.nav-icon-con:hover .nav-icon {
    color: #f25454;
}


.header-control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: color 0.5s;
    font-size: 20px;
}
.button-hover {
    height: 100%;
    width: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    transition: width 0.5s;
}
/*====================MenuBar======================*/

    

.tab-content{padding:.625rem}
.tabs-x .tab-content>.tab-pane{display:none}
.tabs-x .tab-content>.active{display:block}
.tabs-x .nav-link.disabled{pointer-events:auto;cursor:not-allowed}
.tabs-x .nav-tabs{display:flex}
.tabs-left {display:flex;align-items:start}
.tabs-left .nav-tabs {height:100%;margin-left:0;margin-right:0}
.tabs-left .tab-content,{height:100%;width:100%;border:none}
.tabs-left .tab-content{margin-left:-.0625rem;border-left:1px solid rgb(221, 160, 221)}
.tabs-left>.nav-tabs,.tabs-right>.nav-tabs{border-bottom:none;width:9rem}
.tabs-left>.nav-tabs .nav-item{position:relative;width:100%}
.tabs-left>.nav-tabs .nav-item>.nav-link{border-radius:.25rem 0 0 .25rem;white-space:nowrap}
.tabs-left>.nav-tabs .nav-item>.nav-link.active{border-color:rgb(221, 160, 221) #fff rgb(221, 160, 221) rgb(221, 160, 221)}

/*====================Footer======================*/

footer {

    background-size: contain;
    background-color:  #4B0082;
    background-position: center;
}
.footer-title {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.info {
    color: #b0b0b0;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s;
}
.link:hover {
    color: #DDA0DD;
    cursor: pointer;
}
.tag {
    color: white;
    border: 1px solid #b0b0b0;
    text-align: center;
    padding: 2px;
    color: #b0b0b0;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    transition: all 0.5s;
}
.tag:hover {
    border-color: #DDA0DD;
    color: #DDA0DD;
    cursor: pointer;
}
.footer-end {
    background-color: #1a1a1a;
}
.footer-icon {
    font-size: 16px;
    transition: color 0.5s;
}
.footer-icon:hover {
    color: #DDA0DD;
}
.copyrights {
    font-family: 'Poppins', sans-serif;
    color: #b0b0b0;
}
.Marzone {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

@media (max-width: 768px) { 
    .text-center-small {
        text-align: center;
    }
    .review-indicators {
        margin: 0 !important;
    }
    .socials, .copyrights {
        text-align: center;
    }
    .home-text {
        font-size: 36px;
    }
}
@media (max-width: 992px) {
    .review-image {
        width: 70px !important;
        height: 70px !important;
    }
}

 @media (min-width: 768px) and (max-width: 992px) {
    .review-indicators {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
 }