<section id="welcome" >
  <h4 class="text">Buy whatever you want with the least prices!!</h4>
  <h2 class="text">The best deals are here </h2>
  <h1 class="text">On All Products</h1>
  <p class="text">Save more with coupons and get up to 70% off !</p>
  <button>Shop Now</button>
</section>

<section id="features" class="section-p1">

  <div class="fe-box">
      <img src="assets/images/free-shipping.jpg" alt="free-shipping">
      <h6>Enjoy Free-Shipping</h6>
  </div>

  <div class="fe-box">
      <img src="assets/images/order-online.png" alt="order-online">
      <h6>order-online</h6>
  </div>
  <div class="fe-box">
      <img src="assets/images/save-money.jpg" alt="Save-Money">
      <h6>Save-Money using Promo codes</h6>
  </div>
  <div class="fe-box">
      <img src="assets/images/hot-offer.jpg" alt="Hot-offer">
      <h6>Today's Deals</h6>
  </div>

  <div class="fe-box">
      <img src="assets/images/top-selling products.jpg" alt="free-shipping">
      <h6> Top-Selling Products</h6>
  </div>

  <div class="fe-box">
      <img src="assets/images/customer-service.jpg" alt="customer-service">
      <h6>Contact Our Customer Service</h6>
  </div>
</section>

<section id="firstproduct" class="section-p1">
  <h2>Featured Products</h2>
  <div class="pro-container">
      <div class="pro">
          <img src="assets/images/f6.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>200 EGP</h4>
          </div>
      </div>
      <div class="pro">
          <img src="assets/images/f8.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Blouse</h5>

           <h4>300 EGP</h4>
          </div>
      </div>
       <div class="pro">
          <img src="assets/images/blouse.webp" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Blouse</h5>

           <h4>250 EGP</h4>
          </div>
      </div>

      <div class="pro">
          <img src="assets/images/f4.jpg" alt="">
          <div class="des">
           <span>Zara</span>
           <h5>Tshirt</h5>

           <h4>100 EGP</h4>
          </div>
      </div>
  </div>
</section>
